<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="search" verbose="1" >
    <test name="search-on-homepage">
        <classes> 
            <class name="bionic.search.TestSearchOnHomePage"/>
        </classes>
    </test>
    <test name="lessons">
        <classes>
            <class name="bionic.TestLesson4.TestRealNumberInString" />
        </classes>
    </test>
</suite>
